@page {
    margin: 2cm;
}

a:link, a:visited, a:hover, a:active {
    color: blue;
    text-decoration: none;
}

body {
    background-color: darkgray;
    font-size: .87rem;
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', serif;
    letter-spacing: .05rem;
}

h1 {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: .95rem;
    margin: 0;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: .4rem;
    margin-top: .8rem;
}

.naked-list {
    list-style: none;
}

.space-killa {
    margin: 0;
    padding: 0;
}

#page-container {
    background-color: white;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    display: block;
    height: 100%;
    margin: 0 auto;
    padding: .5rem 1rem .1rem 1rem;
    width: 8.5in;
}

#summary {
    font-style: italic;
}

.job-employer {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .05rem;
}

.job-title {
    font-style: italic;
    font-weight: 500;
    letter-spacing: .02rem;
    padding-top: .1rem;
}

.job-when {
    color: #666;
    float: right;
    font-size: smaller;
}

.job-skills > ul {
    list-style-type: square;
    margin: .4rem 0;
    padding-left: 1.5rem;
}

.job-skills > ul > li {
    line-height: 1.2rem;
    margin-bottom: .2rem;
}

.main-row {
    display: flex;
}

.main-errata-column {
    margin-right: 1rem;
    width: 50rem;
}

.main-content-column p,
.main-content-column li {
    line-height: 1.1rem;
}

.pill {
    background-color: #eaeaea;
    border: #cdcccc 1px solid;
    border-radius: 5px;
    color: black;
    display: inline-block;
    margin: .15rem 0;
    padding: .02rem .4rem;
    text-align: center;
    font-size: .8rem;
}

.deprecated {
    color: gray;
}

#contact-list {
    line-height: 1.3rem;
}

.more-pronounced-text {
    font-size: 1rem;
    line-height: 2rem;
}

@media only screen and (max-width: 650px) {
    h1 {
        margin-top: 1rem;
    }
    .job-employer {
        margin-top: 1rem;
    }
    #page-container {
        width: auto;
    }
    .main-errata-column {
        width: auto;
    }
    .main-row {
        display: block;
    }
}
