body {
    /*font-family: 'Open Sans', serif;*/
    font-size: .88rem;
    font-family: 'Roboto', serif;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', serif;
    /*font-family: 'Oxygen', serif;*/
    /*font-family: 'Nunito', serif;*/
    letter-spacing: .04rem;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
}

h2 {
    font-size: .9rem;
    margin: 0;
}

h3 {
    margin-bottom: .4rem;
    margin-top: .8rem;
}

.naked-list {
    list-style: none;
}

.space-killa {
    margin: 0;
    padding: 0;
}

#page-container {
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
    display: block;
}

.job-employer {
    font-weight: bold;
    font-size: larger;
}

.job-title {
    font-style: italic;
    font-weight: 500;
}

.job-when {
    font-size: smaller;
    color: #666;
}

.job-skills {

}

@media print {
}

@page {
    margin: 2cm;
}


.main-row {
    display: flex;
}

.main-errata-column {
    margin-right: 1rem;
    width: 46rem;
}

.main-content-column p,
.main-content-column li {
    line-height: 1.1rem;
}

.pill {
    background-color: #eaeaea;
    border: #cdcccc 1px solid;
    border-radius: 5px;
    color: black;
    display: inline-block;
    padding: .02rem .4rem;
    text-align: center;
    margin: .1rem 0;
}

a:link, a:visited, a:hover, a:active {
    color: blue;
    text-decoration: none;
}